.Overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-accent);
	z-index: 1200;
}

.Modal {
	display: flex;
	justify-content: center;
	align-items: center;

	/* max-width: calc(100vw - 48px);
	max-height: calc(100vh - 24px); */
	width: 800px;
	height: 500px;
	padding: 20px;

	background-color: var(--color-card);
}